@model UserDoctorDetailsViewModel
@*@using HospitalManagementSystem.Data.Model;*@
@{
    ViewData["Title"] = "Details";
    //User Model = ViewBag.User;
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Number)
        </dt>
        <dd class="col-sm-10">
            @Model.User.Number
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Model.User.Address
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Model.User.Role
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Model.User.CreatedAt
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Model.User.CreatedBy
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Model.User.UpdatedAt
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Model.User.UpdatedBy
        </dd>
        @if (Model.Doctor != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doctor.YOE)
            </dt>
            <dd class="col-sm-10">
                @Model.Doctor.YOE
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doctor.Specialization)
            </dt>
            <dd class="col-sm-10">
                @Model.Doctor.Specialization
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
