
@{
    ViewData["Title"] = "Student";
}

@using HelloWordWithMVCTemplate.Models;

@{
    dynamic students = ViewData["students"];
}

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-striped">
            <thead class="text-center bg-dark text-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Student student in students)
                    {
                        string strYear = @student.Year == 1 ? "First Year" : @student.Year == 2 ? "Second Year" : @student.Year == 3 ? "Third Year" : "Final Year";
                        <tr class="text-center">
                            <th>@student.ID</th>
                            <th>@student.Name</th>
                            <th>@strYear</th>
                            <th>@student.Percentage %</th>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="text-center bg-dark text-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Percentage</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>